header {
  color: #5851ff;
  height: 10vw;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 200%;
  font-weight: 500;
  color: #5851ff;
  padding: 0 12px;
  text-transform: uppercase;
}

@media screen and (min-width: 460px) {
  header {
    height: 5vw;
  }

  h1 {
    font-size: 100%;
    font-weight: 500;
    color: #5851ff;
    padding: 0 12px;
    text-transform: uppercase;
  }
}
